name: Track Gold and Silver prices, and notify

on:
  schedule:
    - cron: "0 4-22 * * 1-5"
  workflow_dispatch:

jobs:
  start-app:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout the code
      uses: actions/checkout@v4
    - name: Set up Python 3.14
      uses: actions/setup-python@v3
      with:
        python-version: "3.14"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Start the app
      run: python3 notify.py {{secrets.BOT_TOKEN}} {{secrets.CHAT_ID}}
